#App {
  background-color: var(--background-color);
  text-align: center;
  font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  .App {
    &-home {
      background-color: #FFF09B;
      min-height: 500px;
      display: grid;
      padding: 2em, 1em;
    }

    &-logo {
      margin-bottom: 2em;
    }
    
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      height: 100%;
    }

    &-descend {
      grid-area: "descend";
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  
    &-heading {
      max-width: 750px;
    }

    &-winner {
      margin-top: 1em;  
      transition: max-height 1.5s ease-in;
      overflow: hidden;
      max-height: 0;
      &.active {
        max-height: 100vh;
      }
    }

    &-dialog {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &-button {
      &_call {
        border-radius: 1em;
      }

      &_icon {
        margin-right: 1em;
      }

      &_add {
        border: 1px white solid;
      }

      &_profile {
        padding: 6px;
        border-radius: 50%;
        position: absolute;
        top: 1em;
        left: 1em;
      }
    }
  }
  
  .friendList {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 3em;

    &-header {
      width: 100%;
    }
  
    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-button_sort {
      height: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -4em;
      & button {
        height: fit-content;
      }
    }
  }

  .big-icon {
    width: 2em;
    height: 2em;
  }
}
